#selected {
  color: purple;
}
#selected:hover {
  color: yellow;
}
.nav-link:hover {
  color: lightblue;
}
.nav-link {
  color: green;
}
body {
  background-image: url("D\ of\ I.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 1;
}
h1 {
  color: whitesmoke;
  text-align: center;
  font-weight: bolder;
  padding-top: 20px;
  font-size: 20px;
}
#quotes {
  color: whitesmoke;
  text-align: center;
  font-weight: bolder;
  padding-top: 20px;
  font-size: 20px;
}

img,
iframe {
  display: block;
  margin-right: auto;
  padding-top: 20px;
}
iframe {
  width: 700px;
  aspect-ratio: 5/3;
  object-fit: cover;
}
.earlifeinfo {
  color: whitesmoke;
  text-align: center;
  font-weight: bolder;
  margin: auto;
  padding-top: 20px;
}
.presidencyinfo {
  color: whitesmoke;
  text-align: center;
  font-weight: bolder;
  margin: auto;
  padding-top: 20px;
  list-style-type: none;
}
li {
  list-style-type: none;
}
div[id^="prisrcs"] {
  .col-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
